
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(150deg, rgb(123, 107, 34) 0.00%, rgb(36, 37, 38) 100.00%);
}

.box{
    width: 400px;
    height: 600px;
    background-color: transparent;
    padding: 20px;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0px 0px 5px white;
}

input{
    width: 360px;
    height: 50PX;
    text-align: right;
    font-size: 45px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

input::placeholder{
    color: white;
}

button{
    margin-left: 9px;
    margin-top: 20px;
    width: 75px;
    height: 75px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    box-shadow: 0px 0px 5px white;
    border-radius: 50%;
}

